*{
    margin: 0;
}
h1{
    color: #f80000;
    text-shadow: 0px 0px 75px #f80000;
    font-size: 10vh; 
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.WeMakeSites{
    width: 100%;
    height: 100vh;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.WeMakeSites>p{
    text-shadow: 0px 0px 5px #333333;
    color: #0080ff;
}
.TypeOfSites{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SiteVizitka{
    margin: 5vh;
    width: 90%;
    height: 90vh;
    background-color: #CCCCCC;
    display: flex;
    padding: 5vh;
    border-radius: 3vh;
}
.SiteVizitka>img{
    width: 80vh;
}
.SiteVizitkaText{
    width: 80vh;
    margin: 0 0 0 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.SiteVizitkaPriceMain{
    background-image: url(TypeSites.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 300vh;
    background-size: 100% 300vh;
    margin: 0;
}
.SiteVizitkaPriceMainArticle{
    margin: 0 5% 5vh 5%;
    height: 90vh;
    width: 90%;
    background-color: #CCCCCC;
    border-radius: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ContactsDiv{
    width: 95%;
    height: 90vh;
    background-color: #CCCCCC;
    display: flex;
    border-radius: 3vh;
    justify-content: center;
    align-items: center;
}
.Contacts{
    margin: 25vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.IndexMain{
    background-image: url(TypeSites.png);
    background-repeat: no-repeat;
    background-size: 100% 350vh;
}
.stalinist-one-regular {
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.marck-script-regular {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}
h1{
    font-family: "Stalinist One";
    font-size: 10vh;
}
p{
    font-family: "Marck Script";
    font-size: 5vh;
}
h2{
    font-family: "Marck Script";
    font-size: 7vh;
}
h3{
    font-family: "Marck Script";
    font-size: 7vh;
}
@media (max-width:2560px) and (min-width:1441px){
    p{
        font-size: 3vh;
    }
    .SiteVizitka>img{
        width: 1500px;
    }
}
@media (max-width:1440px) and (min-width:1025px){
    body{
        width: 1480px;
    }
    p{
        font-size: 3vh;
    }
    .SiteVizitka>img{
        width: 790px;
    }
}
@media (max-width:1024px) and (min-width:769px){
    body{
        width: 1300px;
    }
    p{
        font-size: 4vh;
    }
    .SiteVizitka>img{
        width: 500px;
    }
}
@media (max-width:768px) and (min-width:427px){
    body{
        width: 1300px;
    }
}
@media (max-width:425px) and (min-width:376px){
    body{
        width: 500px;
    }
}
@media (max-width:2491px) and (min-width:2490px){
    p{
        font-size: 2vh;
    }
}
@media (max-width:2471px) and (min-width:2470px){
    p{
        font-size: 2vh;
    }
}
@media (max-width:2431px) and (min-width:2430px){
    p{
        font-size: 2vh;
    }
}
@media (max-width:2411px) and (min-width:2410px){
    p{
        font-size: 65px;
    }
}
@media (max-width:2391px) and (min-width:2390px){
    p{
        font-size: 65px;
    }
}
@media (max-width:2371px) and (min-width:2370px){
    p{
        font-size: 65px;
    }
}
@media (max-width:426px) and (min-width:377px){
    body{
        width: 1200px;
    }
    .SiteVizitkaP{
        font-size: 35px;
    }
}
@media (max-width:376px) and (min-width:322px){
    body{
        width: 1200px;
    }
    .SiteVizitkaP{
        font-size: 35px;
    }
}
@media (max-width:321px) and (min-width:1px){
    body{
        width: 1200px;
    }
    .SiteVizitkaP{
        font-size: 35px;
    }

}
